/* this css is for the example page only.. */

body { background-color: #cfd4d6; color: #222; font: 12px/1.3 "Lucida Grande","Trebuchet MS","Verdana","Helvetica",sans-serif; }
a { color: #264756; }
p small { color: #797979; }

label { width: 15em; display: inline-block; }
video { padding: 0.25em; }

h5 { font-size: 16px; font-family: Garamond, Times, serif; font-weight: normal; margin: 1em 0em 0.5em 0.5em; }
.examples a { text-decoration: underline; cursor: pointer; color: rgb(40, 87, 255); }
.anaction { margin: 0.25em 0.5em; padding: 0.5em; background-color: rgb(223, 228, 242); border: 1px solid #999; }

.slider { background-color: #eee; border: 1px solid #999; cursor: pointer; }
.knob { background-color: #999; text-align: center; padding: 2px; color: #fff; font-size: 11px; cursor: pointer; }
